In [1]:
import numpy as np
import pandas as pd

In [6]:
movies = pd.read_csv('movies.csv')
links = pd.read_csv('links.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [14]:
def getSparsity(mat):
    density = float(len(mat.nonzero()[0]))/(mat.shape[0] * mat.shape[1])
    sparsity = 1-density
    sparsity *= 100
    print('Sparsity: {:4.2f}%'.format(sparsity))

In [19]:
umm = pd.read_csv('./matrices/user-movie-matrix.csv')
umm.set_index('userId', inplace=True)
umm.head()

,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
getSparsity(umm.values)
print(umm.shape)

Sparsity: 98.36%
(671, 9066)

In [5]:
usm = pd.read_csv('./matrices/user-similarity-matrix.csv')
usm.set_index('Unnamed: 0', inplace=True)
usm.head()

,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1,1.00000,0.00000,0.00000,0.07448,0.01682,0.00000,0.08388,0.00000,0.01284,0.00000,...,0.00000,0.00000,0.01447,0.04372,0.00000,0.00000,0.00000,0.06292,0.00000,0.01747
2,0.00000,1.00000,0.12429,0.11882,0.10365,0.00000,0.21299,0.11319,0.11333,0.04321,...,0.47731,0.06320,0.07774,0.16416,0.46628,0.42546,0.08465,0.02414,0.17059,0.11318
3,0.00000,0.12429,1.00000,0.08164,0.15153,0.06069,0.15471,0.24978,0.13447,0.11467,...,0.16121,0.06420,0.17613,0.15836,0.17710,0.12456,0.12491,0.08098,0.13661,0.17019
4,0.07448,0.11882,0.08164,1.00000,0.13065,0.07965,0.31975,0.19101,0.03042,0.13719,...,0.11432,0.04723,0.13658,0.25403,0.12191,0.08873,0.06848,0.10431,0.05451,0.21161
5,0.01682,0.10365,0.15153,0.13065,1.00000,0.06380,0.09589,0.16571,0.08662,0.03237,...,0.19103,0.02114,0.14617,0.22424,0.13972,0.05825,0.04293,0.03836,0.06264,0.22509

In [45]:
getSparsity(usm.values)
print(usm.shape)

Sparsity: 12.00%
(671, 671)

In [51]:
msm = pd.read_csv('./matrices/movie-similarity-matrix.csv')
msm.set_index('Unnamed: 0', inplace=True)
msm.head()

,1,2,3,4,5,6,7,8,9,10,...,161830,161918,161944,162376,162542,162672,163056,163949,164977,164979
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1,1.00000,0.7746,0.31623,0.25820,0.44721,0.0,0.31623,0.63246,0.0,0.25820,...,0.00000,0.22361,0.00000,0.00000,0.00000,0.25820,0.44721,0.0,0.44721,0.0
2,0.77460,1.0000,0.00000,0.00000,0.00000,0.0,0.00000,0.81650,0.0,0.33333,...,0.00000,0.28868,0.00000,0.00000,0.00000,0.33333,0.57735,0.0,0.00000,0.0
3,0.31623,0.0000,1.00000,0.81650,0.70711,0.0,1.00000,0.00000,0.0,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.50000,0.40825,0.00000,0.0,0.70711,0.0
4,0.25820,0.0000,0.81650,1.00000,0.57735,0.0,0.81650,0.00000,0.0,0.00000,...,0.33333,0.00000,0.57735,0.57735,0.40825,0.66667,0.00000,0.0,0.57735,0.0
5,0.44721,0.0000,0.70711,0.57735,1.00000,0.0,0.70711,0.00000,0.0,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,1.00000,0.0

In [52]:
getSparsity(msm.values)
print(msm.shape)

Sparsity: 55.16%
(9125, 9125)

In [54]:
for i in msm.columns:
    if i not in umm.columns:
#         msm.drop(i, axis=0, inplace=True)
        msm.drop(i, axis=1, inplace=True)

getSparsity(msm.values)
print(msm.shape)

Sparsity: 55.14%
(9125, 9066)

In [63]:
def predictRatingUB(userid, movieid):
    similarity_vector = usm.iloc[:, userid]
    rating_vector = umm.iloc[:, movieid]
    rating = np.dot(similarity_vector, rating_vector)/(np.sum(np.abs(similarity_vector)))
    return round(rating*5, 2)

In [107]:
predictRatingUB(2, 10)

2.52

In [66]:
def predictRatingMB(userid, movieid):
    similarity_vector = msm.iloc[movieid, :]
    rating_vector = umm.iloc[userid, :]
    rating = np.dot(similarity_vector, rating_vector)/(np.sum(np.abs(similarity_vector)))
    return round(rating*5, 2)

In [108]:
predictRatingMB(2, 10)

0.1

In [70]:
# def vectorize(doc,terms):
#     docvector=[]
#     count=0
#     for i in range(len(terms)):
#         docvector.append(0)
#         for syn in terms[i]:
#             docvector[i]+=doc.lower().split(" ",500).count(syn.lower())
#     return docvector
# def vectorAvg(a):
#     center=[0 for i in range(len(a[0]))]
#     for vec in a:
#         center=list(map(sum,zip(center,vec)))
#     n=len(a)
#     center[:]=[round(x/n,3) for x in center]
#     return center
# def distInitknn(mat,n,k):
#     for i in range(n):
#         mat.append([0 for j in range(k)])
#     return None
# def kMean(vectors,sim,centroids,k=2,prev=[],n=1):
#     print("\niteration: ",n,"\n")
#     cluster=[]
#     distMat=[]
#     ids=list(sim.columns)
#     #print("\ncentroid vectors:\n")
#     #pprint(centroids)
#     #print("\ndoc vectors:\n")
#     #pprint(docvectors)
    
#     #veclen=len(docvectors)
#     #distInitknn(distMat,veclen,k)
#     #genDistMat(distMat,docvectors,centroids)
#     simMat=sim.values
#     for i in range(k):
#         cluster.append([ids[i]])
#     if prev==[]:
#         for i in range(k,len(ids)):
#             cluster[i%k].append(ids[i])
#     else:
#         for i in range(k,len(ids)):
#             cluster[getMinIndex(i,simMat)].append(ids[i])
#     newcentroid=[]
#     print("cluster formed:\n",cluster)
    
#     for clus in cluster:
#         vec=[vectors[ids.index(i)] for i in clus]
#         center=vectorAvg(vec)
#         newcentroid.append(list(center))
#     #print("\nnew centroids:\n")
#     #pprint(newcentroid)
#     #print("*"*50)
#     if cluster!=prev:
#         kMean(vectors,sim,newcentroid,k,cluster,n+1)
#     return cluster
# def calcManDist(a,b):
#     dist=0
#     for x,y in zip(a,b):
#         dist+=abs(x-y)
#     return dist
# def genDistMat(distMat,docvectors,centroids):
#     for i in range(len(docvectors)):
#         for j in range(len(centroids)):
#             dist=calcManDist(docvectors[i],centroids[j])
#             distMat[i][j]=dist
#     return None
# def getMinIndex(i,mat):
#     mindist=float("inf")
#     minindex=0
#     for j in range(len(mat[i])):
#         if mindist>(1-mat[i][j]):
#             mindist=mat[i][j]
#             minindex=j
#     return minindex

In [71]:
# k = 4
# clusters = kMean(umm.values, usm, umm.values[:k], k)
# print(clusters)

iteration:  1

cluster formed:
 [['1', '5', '9', '13', '17', '21', '25', '29', '33', '37', '41', '45', '49', '53', '57', '61', '65', '69', '73', '77', '81', '85', '89', '93', '97', '101', '105', '109', '113', '117', '121', '125', '129', '133', '137', '141', '145', '149', '153', '157', '161', '165', '169', '173', '177', '181', '185', '189', '193', '197', '201', '205', '209', '213', '217', '221', '225', '229', '233', '237', '241', '245', '249', '253', '257', '261', '265', '269', '273', '277', '281', '285', '289', '293', '297', '301', '305', '309', '313', '317', '321', '325', '329', '333', '337', '341', '345', '349', '353', '357', '361', '365', '369', '373', '377', '381', '385', '389', '393', '397', '401', '405', '409', '413', '417', '421', '425', '429', '433', '437', '441', '445', '449', '453', '457', '461', '465', '469', '473', '477', '481', '485', '489', '493', '497', '501', '505', '509', '513', '517', '521', '525', '529', '533', '537', '541', '545', '549', '553', '557', '561', '565', '569', '573', '577', '581', '585', '589', '593', '597', '601', '605', '609', '613', '617', '621', '625', '629', '633', '637', '641', '645', '649', '653', '657', '661', '665', '669'], ['2', '6', '10', '14', '18', '22', '26', '30', '34', '38', '42', '46', '50', '54', '58', '62', '66', '70', '74', '78', '82', '86', '90', '94', '98', '102', '106', '110', '114', '118', '122', '126', '130', '134', '138', '142', '146', '150', '154', '158', '162', '166', '170', '174', '178', '182', '186', '190', '194', '198', '202', '206', '210', '214', '218', '222', '226', '230', '234', '238', '242', '246', '250', '254', '258', '262', '266', '270', '274', '278', '282', '286', '290', '294', '298', '302', '306', '310', '314', '318', '322', '326', '330', '334', '338', '342', '346', '350', '354', '358', '362', '366', '370', '374', '378', '382', '386', '390', '394', '398', '402', '406', '410', '414', '418', '422', '426', '430', '434', '438', '442', '446', '450', '454', '458', '462', '466', '470', '474', '478', '482', '486', '490', '494', '498', '502', '506', '510', '514', '518', '522', '526', '530', '534', '538', '542', '546', '550', '554', '558', '562', '566', '570', '574', '578', '582', '586', '590', '594', '598', '602', '606', '610', '614', '618', '622', '626', '630', '634', '638', '642', '646', '650', '654', '658', '662', '666', '670'], ['3', '7', '11', '15', '19', '23', '27', '31', '35', '39', '43', '47', '51', '55', '59', '63', '67', '71', '75', '79', '83', '87', '91', '95', '99', '103', '107', '111', '115', '119', '123', '127', '131', '135', '139', '143', '147', '151', '155', '159', '163', '167', '171', '175', '179', '183', '187', '191', '195', '199', '203', '207', '211', '215', '219', '223', '227', '231', '235', '239', '243', '247', '251', '255', '259', '263', '267', '271', '275', '279', '283', '287', '291', '295', '299', '303', '307', '311', '315', '319', '323', '327', '331', '335', '339', '343', '347', '351', '355', '359', '363', '367', '371', '375', '379', '383', '387', '391', '395', '399', '403', '407', '411', '415', '419', '423', '427', '431', '435', '439', '443', '447', '451', '455', '459', '463', '467', '471', '475', '479', '483', '487', '491', '495', '499', '503', '507', '511', '515', '519', '523', '527', '531', '535', '539', '543', '547', '551', '555', '559', '563', '567', '571', '575', '579', '583', '587', '591', '595', '599', '603', '607', '611', '615', '619', '623', '627', '631', '635', '639', '643', '647', '651', '655', '659', '663', '667', '671'], ['4', '8', '12', '16', '20', '24', '28', '32', '36', '40', '44', '48', '52', '56', '60', '64', '68', '72', '76', '80', '84', '88', '92', '96', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '148', '152', '156', '160', '164', '168', '172', '176', '180', '184', '188', '192', '196', '200', '204', '208', '212', '216', '220', '224', '228', '232', '236', '240', '244', '248', '252', '256', '260', '264', '268', '272', '276', '280', '284', '288', '292', '296', '300', '304', '308', '312', '316', '320', '324', '328', '332', '336', '340', '344', '348', '352', '356', '360', '364', '368', '372', '376', '380', '384', '388', '392', '396', '400', '404', '408', '412', '416', '420', '424', '428', '432', '436', '440', '444', '448', '452', '456', '460', '464', '468', '472', '476', '480', '484', '488', '492', '496', '500', '504', '508', '512', '516', '520', '524', '528', '532', '536', '540', '544', '548', '552', '556', '560', '564', '568', '572', '576', '580', '584', '588', '592', '596', '600', '604', '608', '612', '616', '620', '624', '628', '632', '636', '640', '644', '648', '652', '656', '660', '664', '668']]

iteration:  2

IndexError: list index out of range

In [85]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=10, n_init=20, random_state=0)
clusters = kmeans.fit_predict(umm.values)

In [86]:
umm.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            662, 663, 664, 665, 666, 667, 668, 669, 670, 671],
           dtype='int64', name='userId', length=671)

In [95]:
user_clusters = pd.DataFrame(clusters, index=umm.index, columns=['clusterId'])
print(user_clusters)

        clusterId
userId
1               9
2               3
3               9
4               0
5               5
6               9
7               3
8               5
9               9
10              9
11              9
12              9
13              9
14              9
15              4
16              9
17              0
18              9
19              0
20              9
21              3
22              0
23              7
24              9
25              9
26              5
27              9
28              9
29              9
30              1
...           ...
642             9
643             9
644             9
645             9
646             5
647             9
648             5
649             3
650             9
651             9
652             9
653             9
654             4
655             5
656             9
657             9
658             9
659             3
660             5
661             9
662             3
663             9
664             4
665             0
666             3
667             3
668             9
669             9
670             9
671             5

[671 rows x 1 columns]

In [105]:
def predict(userid, movieid):
    cid = user_clusters.loc[userid, 'clusterId']
    print(cid)
    sim_users = user_clusters.loc[(user_clusters['clusterId']==cid)]
    sim_users = list(sim_users.index)
    print(sim_users)
    similarity_vector = usm.iloc[sim_users, userid]
    rating_vector = umm.iloc[sim_users, movieid]
    rating = np.dot(similarity_vector, rating_vector)/(np.sum(np.abs(similarity_vector)))
    return round(rating*5, 2)

In [106]:
predict(2,10)

3
[2, 7, 21, 32, 36, 39, 47, 50, 64, 67, 82, 85, 86, 92, 108, 110, 114, 121, 122, 126, 144, 145, 151, 161, 168, 182, 184, 188, 191, 192, 194, 224, 225, 241, 254, 266, 279, 288, 302, 308, 317, 338, 344, 354, 369, 375, 385, 389, 390, 396, 400, 409, 415, 416, 421, 440, 447, 449, 464, 487, 495, 496, 508, 513, 516, 517, 534, 535, 536, 548, 551, 555, 556, 568, 588, 589, 590, 593, 602, 603, 619, 629, 633, 639, 641, 649, 659, 662, 666, 667]

3.48

In [109]:
user_clusters['x'] = 0
user_clusters.head()

        clusterId  x
userId
1               9  0
2               3  0
3               9  0
4               0  0
5               5  0